*{
    margin: 0;
    padding: 0;
}
/* HEADER */
#headerComponent{
    width: 100%;
    height: 4.5em;
    background-color: rgb(224, 223, 216);
}
#logo{
    float: left;
    font-size: 2em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.6em;
    cursor: pointer;
}

#shoppingCart{
    grid-column: 1;
    padding-top: 0.9em;
    display: flex;
    position: relative;
    float: right;
    padding-right: 5em;
}

#shoppingCartAmount{
    position: absolute;
    top: 1.7em;
    right: 3.5em;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(3, 104, 3);
}

#hamburgerMenu{
    display:flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 1em 0 0;
    cursor: pointer;
}

    #bodyContainer{
        overflow: visible;
    }

    /* NAV */

    #Nav{
        z-index: +2;
        position: fixed;
        background-color: #9fb598;
        width: 50vw;
        height: 100vh;
        top: 0;
        right: 0;
        transform: translateX(50vw);
    }

    .slide-in{
        z-index: +1;
        transform: translateX(-50vw);
        transition: all 400ms ease;
        position: fixed;
        top: 0;
        right: 0;
    }

    #menuList{
        list-style: none;
        padding: 0 2em;
        font-size: 1.5em;
    }

    #navClose{
        text-align: right;
        padding: 1em;
        padding-right: 1.2em;
        font-size: 2em;
    }

    .navLinks{
        margin-top: 1em;
        cursor: pointer;
    }

    #overlay{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: gray;
        opacity: 50%;
        display: none;
    }


    #bodyImageText{
        position: absolute;
        left: 1.2em;
        top: 3em;
        text-align: center;
        font-size: 2.5em;
        z-index: -1;
    }

    #bodyImage{
        position: relative;
        display: block;
        left:0;
        z-index: -1;
    }

    /* SPECIAL PRODUCTS */

    #specialProductsSection{
        background:#d1c9ba;
        padding-bottom: 0.01em;
        padding-top: 0.01em;
        text-align: center;
    }

    .productContainer{
        margin-right: 2em;
        margin-left: 2em;
        margin-bottom: 4em;
        margin-top: 1.5em;
    }

    .productItems{
        text-align: center;
        display: grid;
        grid-template-rows: 3fr 0.5fr 0.5fr 0.5fr;
    }

    .productsImage{
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        height: 40vh;
    }
    .product-title{
        margin-top: 0.5em;
        font-size: 1.8em;
    }
    .product-description{
        font-size: 1.2em;
        margin: auto;
        margin-left: 3em;
        margin-right: 3em;
    }    
    #productsHeader{
        font-size: 2.5em;
        margin-top: 1em;
    }
    
    .specialProductsButton, #messageButton, #productsFinalContainer button{
        grid-row: 4;
        width: 18em;
        height: 4em;
        margin: auto;
        border-radius: 2em;
        background-color: #a29784;
        border: none;
    }
    .specialProductsButtonText, #messageButton{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5em;
        font-weight: 600;
    }


    /* ABOUT US */

    #aboutUsSection{
        text-align: center;
        padding: 5%;
        background: #ada493;
        padding-bottom: 2.5em;
    }

    #aboutUsHeader{
        font-size: 2.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #aboutUsImg{
        width: 100%;
    }

    #aboutUsSubHeader{
        font-size: 1.5em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }

    #aboutUsText{
        font-size: 1.2em;
    }

    /* CONTACT US */

    #contactUsContainer{
        padding-top: 2em;
        padding-bottom: 2.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        background:#d1c9ba;
    }

    .inputLabel{
        font-size: 1.5em;
    }

    .inputForm{
        width: 70%;
        margin: auto;
        height: 2em;
        border-width: 0.1em;
        font-size: 1.2em;
        padding-left: 0.4em;
        border-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 0.7em;
        margin-top: 0.3em;
        border-radius: 1em;
    }

    #contactUsHeader{
        font-size: 2.5em;
        margin-bottom: 0.3em;
    }

    #messageInput{
        height: 7em;
        padding-top: 0.4em;
    }

    #messageButton{
        font-size: 1.25em;
        width: 60%;
        height: 2.8em
    }

    /* FOOTER */

    #footer{
        display: grid;
        grid-template-columns: 1.8fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background: #9fb598;
        padding: 1em;
    }

    .footerLinks{
        grid-column: 1;
        font-size: 1.5em;
        cursor: pointer;
        padding-left: 1em;
        padding-top: 0.3em;
    }

    #footer div{
        grid-column: 2;
        grid-row: 3;
        font-size: 2em;
    }





    /* PRODUCT CART */

    #productsFinalContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        background: #d1c9ba;
        text-align: center;
    }

    .finalProductH2{
        grid-row: 1;
        font-size: 2em;
        grid-column: SPAN 2;
        padding-bottom: 0.7em;
        padding-top: 0.7em;
    }

    .finalProductArticle{
        grid-row: auto;

    }

    .finalProductPrice{
        float: right;
        padding-right: 3em;
    }
    .finalProductAmount{
        float: left;
        padding-left: 3em;
    }

    #productsFinalContainer div{
        margin-top: 0.5em;
        grid-column: SPAN 2;
        font-size: 1.5em;
    }

    #productsFinalContainer button{
        font-size: 1em;
        margin-top: 0.5em;
        margin-bottom: 2em;
        width:8em;
        height: 2.5em;
    }

    /* ADMIN PAGE */

    #adminPageContainer{
        display: grid;
        background-color: #d1c9ba;
        grid-template-rows: 0.5fr auto auto;
        width: 100%;
        float: left;
    }

    #adminPageContainer h2{
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        grid-row: 1;
    }

    #specialProductsAdminContainer h3{
        grid-column: SPAN 2;
        text-align: center;
        padding-bottom: 1em;
    }

    #specialProductsAdminContainer{
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #addProductsContainer h3{
        padding: 0;
        grid-column: SPAN 2;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        
    }

    #checkboxContainer{
        padding-left: 1em;
        font-size: 1.1em;
    }

    .checkboxInput{
        padding-bottom: 1em;
    }

    #inputContainer{
        text-align: center;
    }

    .addProductsInputs{
        width: 50%;
        margin: auto;
        height: 2em;
        border-width: 0.1em;
        font-size: 1.2em;
        padding-left: 0.4em;
        border-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 0.7em;
        margin-top: 0.3em;
        border-radius: 0.5em;
    }

    #inputType{
        margin-bottom: 1em;
        font-size: 1.3em;
        width: 9em;
        height: 1.8em;
        border-radius: 0.5em;
        padding-left: 0.5em;
    }

    #inputDescription{
        width: 60%;
        margin: auto;
        height: 4em;
        border-width: 0.1em;
        font-size: 1.2em;
        padding-left: 0.4em;
        border-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 0.7em;
        margin-top: 0.3em;
        border-radius: 0.5em;
        padding-top: 0.5em;
    }

    #addProductButton{
        width: 50%;
        height: 2em;
        border-radius: 2em;
        background-color: #a29784;
        border: none;
        font-size: 1.3em;
        margin-bottom: 1em;
        margin-top: 1em;
    }